@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url("https://rsms.me/inter/font-files/Inter-Regular.woff2?v=3.5") format("woff2"), url("https://rsms.me/inter/font-files/Inter-Regular.woff?v=3.5") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    src: url("https://rsms.me/inter/font-files/Inter-Italic.woff2?v=3.5") format("woff2"), url("https://rsms.me/inter/font-files/Inter-Italic.woff?v=3.5") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url("https://rsms.me/inter/font-files/Inter-SemiBold.woff2?v=3.5") format("woff2"), url("https://rsms.me/inter/font-files/Inter-SemiBold.woff?v=3.5") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    src: url("https://rsms.me/inter/font-files/Inter-SemiBoldItalic.woff2?v=3.5") format("woff2"), url("https://rsms.me/inter/font-files/Inter-SemiBoldItalic.woff?v=3.5") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url("https://rsms.me/inter/font-files/Inter-Bold.woff2?v=3.5") format("woff2"), url("https://rsms.me/inter/font-files/Inter-Bold.woff?v=3.5") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    src: url("https://rsms.me/inter/font-files/Inter-BoldItalic.woff2?v=3.5") format("woff2"), url("https://rsms.me/inter/font-files/Inter-BoldItalic.woff?v=3.5") format("woff");
}
