@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /*  */
}

:root {
  color-scheme: dark;
}

html {
  cursor: default;
  font-feature-settings: "ss01" 0, "ss02" 0, "ss03" 0;
  line-height: 1.7142857;
  text-rendering: optimizeLegibility;
  @apply subpixel-antialiased bg-neutral-900 font-sans overflow-x-hidden selection:bg-opacity-50 selection:bg-yellow-500 text-neutral-300 underline-offset-2;
}

[data-heading-link] {
  align-items: center;
  bottom: 0;
  display: flex;
  left: -2ch;
  opacity: 0%;
  position: absolute;
  right: 0;
  top: 0;
}
[data-heading-link]:hover {
  opacity: 100%;
}

[data-rehype-pretty-code-fragment] > pre {
  padding: 0;
}
[data-rehype-pretty-code-fragment] > pre > code {
  display: grid;
  @apply py-4;
}
[data-rehype-pretty-code-fragment] > pre > code span.line {
  @apply px-4;
}
[data-rehype-pretty-code-fragment] > pre > code span.line.highlighted {
  @apply bg-yellow-500/20;
}
[data-rehype-pretty-code-fragment] > pre > code span.line .word {
  @apply -m-1 p-1;
}
