@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /*  */
}

:root {
  color-scheme: dark;
}

html {
  cursor: default;
  font-feature-settings: "ss01" 0, "ss02" 0, "ss03" 0;
  line-height: 1.7142857;
  text-rendering: optimizeLegibility;
  @apply subpixel-antialiased bg-body font-sans selection:bg-opacity-50 selection:bg-primary text-text underline-offset-2;
}

[data-rehype-pretty-code-fragment] > pre {
  padding: 0;
}
[data-rehype-pretty-code-fragment] > pre > code {
  display: grid;
  @apply py-4;
}
[data-rehype-pretty-code-fragment] > pre > code span.line {
  @apply px-4;
}
[data-rehype-pretty-code-fragment] > pre > code span.line.highlighted {
  @apply bg-yellow-500/20;
}
[data-rehype-pretty-code-fragment] > pre > code span.line .word {
  @apply -m-1 p-1;
}
