.DS_Store
.env*
/.next
/.pnp
/.pnp.*
/.yarn/build-state.yml
/.yarn/cache
/.yarn/unplugged
/build
/node_modules
/out/
/public/**/*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

!.env.example
!/public/social.png
