# default ignored directores/files
**/node_modules/
*.log
.DS_Store
.env*
.eslintcache
.next/
.sentryclirc
.turbo/
.vercel/
out/
package-lock.json
sentry.properties
tsconfig.tsbuildinfo

# allowed directories/files
!.gitkeep
!.env.example
