# default ignored directores/files
**/node_modules/
*.log
.DS_Store
.env*
.eslintcache
.next/
.vercel/
out/
package-lock.json
tsconfig.tsbuildinfo

# allowed directories/files
!.gitkeep
!.env.example
