// Main overrides
$body-line-height: 2rem;
$body-size: 1.1rem;
$family-sans-serif: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$family-monospace: Consolas, Menlo, Monaco, source-code-pro, "Courier New", monospace;

// Color overrides
$yellow: hsl(60, 80%, 70%);
$link: hsl(60, 80%, 30%);
$link-focus-border: $link;

// Breakpoint overrides
$gap: 64px;
$tablet: 640px;
$desktop: $tablet + 2 * $gap;

$widescreen-enabled: false;
$fullhd-enabled: false;

// Navbar overrides
$navbar-height: 4.25rem;

:root {
  --font-monospace: #{$family-monospace};
}
