/* PrismJS Overrides */
/* https://github.com/jgthms/bulma/issues/1708#issuecomment-382560341 */
.content .tag, .content .number {
    display: initial;
    padding: initial;
    font-size: initial;
    line-height: initial;
    text-align: initial;
    vertical-align: initial;
    border-radius: initial;
    font-weight: initial;
    white-space: initial;
    background: initial;
    margin: initial;
}

/* Copied from overreacted.io, modified most color schemes */
/* https://sourcegraph.com/github.com/gaearon/overreacted.io/-/blob/src/utils/global.css */
code[class*='language-'],
pre[class*='language-'] {
    background: none;
    color: white;
    font-family: var(--font-monospace);
    font-feature-settings: normal;
    font-size: initial;
    hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    line-height: 1.5;
    tab-size: 4;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    text-align: left;
    white-space: pre;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
}

/* Code blocks */
pre[class*='language-'] {
    overflow: auto;
    padding: 1.3125rem;
}

pre[class*='language-']::-moz-selection {
    /* Firefox */
    background: hsl(207, 4%, 16%);
}

pre[class*='language-']::selection {
    /* Safari */
    background: hsl(207, 4%, 16%);
}

/* Text Selection colour */
pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection {
    background: hsla(0, 0%, 100%, 0.15);
    text-shadow: none;
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection {
    background: hsla(0, 0%, 100%, 0.15);
    text-shadow: none;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
    background: hsl(60, 25%, 95%);
    border-radius: 0.3em;
    color: inherit;
    padding: 0.15em 0.2em 0.05em;
    white-space: normal;
}

.token.attr-name {
    color: hsl(60, 80%, 70%);
    font-style: italic;
}

.token.comment {
    color: rgb(128, 147, 147);
}

.token.string,
.token.url {
    color: hsl(60, 80%, 70%);
}

.token.variable {
    color: rgb(214, 222, 235);
}

.token.number {
    color: rgb(247, 140, 108);
}

.token.builtin,
.token.char,
.token.constant,
.token.function {
    color: hsl(0, 100%, 75%);
}

.token.punctuation {
    color: hsl(0, 68%, 75%);
}

.token.selector,
.token.doctype {
    color: rgb(199, 146, 234);
    font-style: 'italic';
}

.token.class-name {
    color: rgb(255, 203, 139);
}

.token.tag,
.token.operator,
.token.keyword {
    color: hsl(20, 100%, 80%);
}

.token.boolean {
    color: rgb(255, 88, 116);
}

.token.property {
    color: rgb(128, 203, 196);
}

.token.namespace {
    color: rgb(178, 204, 214);
}

pre[data-line] {
    padding: 1em 0 1em 3em;
    position: relative;
}

.gatsby-highlight-code-line {
    background-color: hsl(60, 80%, 12%);
    border-left: 0.25em solid hsl(0, 68%, 75%);
    display: block;
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: .75rem;
    padding-right: 1rem;
}

.gatsby-highlight {
    background: hsl(60, 80%, 4%);
    margin-bottom: 1.75rem;
    margin-left: -1.3125rem;
    margin-right: -1.3125rem;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.gatsby-highlight pre[class*='language-'] {
    float: left;
    min-width: 100%;
}
