$yellow: #fef380;
$navbar-breakpoint: 600px;

@import '~bulma';
@import './emojione';

* {
  transition: all 200ms ease;
}

html,
body {
  background-color: #{$dark};
  min-height: 100vh;
}

.g-max-width {
  max-width: 1024px;
  margin: 0 auto;
}
